<%= stylesheet_link_tag "index/member_input.css" %>
  <div id="main">
    <div class="signUp">変更</div>
    
    <%= form_for @members, :url => {:action => 'update'} do |f| %>
    
      <% if flash[:success] %>
        <p><%= flash[:success] %></p>
      <% end %>
      
      <ul id="member">
        <li class="field">
          <%= f.label :userName, 'ユーザー名', :class=>'item' %>
          <%= f.text_field :userName, :class=>'text_input' %>
        </li>
        <li class="field">
          <%= f.label :mailAddress, 'メールアドレス', :class=>'item' %>
          <%= f.text_field :mailAddress, :class=>'text_input'  %>
        </li>
        <li class="field">
          <%= f.label :password, 'パスワード', :class=>'item' %>
          <%= f.password_field :password, :class=>'text_input'  %>
        </li>
        <li class="field">
          <%= f.label :password_confirmation, 'パスワード(確認)', :class=>'item' %>
          <%= f.password_field :password_confirmation, :class=>'text_input'  %>
        </li>
        <li class="field">
          <%= f.submit '戻る', :name=>'back_btn', :class=>"actions"  %>
          <%= f.submit '変更', :name=>'regist_btn', :class=>"actions" %>
        </li>
      </ul>
    <% end %>
  </div>